// resets, vars etc.:
@import "partials/_resets";
@import "partials/_vars";
@import "partials/_icon-fonts";
@import "partials/_media-queries";

// main files:
@import "modules/_base";
@import "modules/_inside";

// vendors:
@import "vendor/_owl.scss";
@import "vendor/_fancybox.scss";
@import "vendor/_pageflip.scss";
@import "vendor/_pageflip-custom.scss";

// responsive:
@import "modules/_responsive";


// helpers:
@import "partials/_helpers";
@import "partials/_switcher";