body {
    font-family: $site-font;
    font-size: 14px;
    color: #85848a;
    background: #f3f5f7;
    // -webkit-backface-visibility: hidden;
}
a {
    text-decoration: none;
}
.content {
    max-width: 1000px;
    margin: 0 auto;
}
.icon {
    position: relative;
}
.site-header {
    position: relative;
    height: 74px;
    background: linear-gradient(to bottom, #0074ac, #016b9e);
    box-shadow: inset 0 -2px 4px rgba(0,43,57,.09), 0 0 1px #5ccafa;
    z-index: 130;
}
.site-logo {
    position: absolute;
    float: left;
    top: 10px;
    a {
        display: inline-block;
        background: #0074ac;
        padding: 10px 11px;
        border: 6px solid #fff;
        transition: all 0.2s;
        &:hover {
            background: #006393;
        }
    }
}
.site-slogan {
    display: block;
    margin-top: 5px;
}
.site-nav {
    float: left;
    margin-top: 24px;
    margin-left: 84px;
    > ul > li {
        float: left;
        position: relative;
        margin-left: 12px;
        height: 24px;
        line-height: 24px;
        font-size: 13px;
        display: block;
        text-transform: uppercase;
        &:hover .site-subnav {
            display: block;
        }
        &:hover > a {
            background: #1481b6;
        }
        &.site-nav-selected > a {
            background: #1481b6;
        }
        > a {
            display: block;
            padding: 0 8px;
            border-radius: 2px;
            color: #fff;
            font-weight: 600;
            &:hover {
                background: #1481b6;
            }
            .icon {
                font-size: 16px;
                top: 3px;
                left: -1px;
            }
        }
        &.has-subnav {
            > a {
                padding-right: 4px;
                &:hover {
                    border-radius: 2px 2px 0 0;
                }
            }
        }
    }
}

.site-subnav {
    position: absolute;
    top: 100%;
    left: 0;
    background: #1481b6;
    display: none;
    li {
        width: 200px;
        height: 26px;
        line-height: 25px;
        font-size: 11px;
        font-weight: 300;
        position: relative;
        &:hover a {
            background: #00405f;
        }
        a {
            color: #fff;
            display: block;
            height: 100%;
            padding: 0 15px 0 15px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        &:hover .site-sub-subnav {
            display: block;
        }
    }
    li.promo-nav {
        a {
            background-color: #f18903;
            font-weight: bold;
            &:hover {
                background-color: #E8701C;
            }
            &:after {
                display: none;
            }
        }
    }
}

.site-sub-subnav {
    position: absolute;
    top: 0;
    left: 100%;
    background: #00405f;
    display: none;
    li a:hover {
        color: #beebff;
    }
}

.site-header-meta {
    float: right;
    margin-top: 22px;
    a {
        display: block;
        float: left;
        width: 26px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        color: #eef8fe;
        border: 1px solid #eef8fe;
        border-radius: 2px;
        margin-left: 8px;
        &:hover {
            color: #016fa4;
            background: #fff;
        }
        &.sh-lang {
            // margin-left: 0;
            line-height: 24px;
            font-size: 12px;
            @include max-screen(480px) {
                margin-left: 0;
            }
        }
        &.ldi {
            margin-left: 0;
            width: auto;
            border: none;
            img {
                height: 30px;
                position: relative;
                top: -3px;
            }
            @include max-screen(480px) {
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }
        &.search-btn {
            background: #eef8fe;
            color: #016fa4;
            position: relative;
            &:hover {
                color: #00334c;
            }
        }
    }
}

.search-container {
    display: block;
    float: left;
    width: 26px;
    margin-left: 8px;
    position: relative;
    a {
        margin-left: 0;
        float: none;
    }
}
.search-btn-submit {
    display: block;
    width: 26px;
    height: 26px;
    line-height: 24px;
    text-align: center;
    color: #eef8fe;
    border: 1px solid #eef8fe;
    border-radius: 2px;
    background: #eef8fe;
    color: #016fa4;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    &:hover {
        color: #00334c;
    }
    .icon {
        top: 1px;
    }
}
.search-input {
    background: #fff;
    border-radius: 2px;
    border: 0;
    height: 26px;
    padding: 0 28px 0 7px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 24px;
    font-family: $site-font;
    width: 180px;
    display: none;
}

.has-sub-subnav {
    .site-subnav {
        > li > a:after {
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\e605";
            position: absolute;
            top: 6px;
            right: 5px;
        }
    }
}



.home-subheader {
    background: linear-gradient(to bottom, #2296ce, #1589c1);
    box-shadow: inset 0 -2px 4px rgba(0,43,57,.09);
    min-height: 246px;
    .content {
        position: relative;
    }
}

.home-groups {
    padding-top: 20px;
    padding-bottom: 4px;
    min-height: 246px;
    width: 66.7%;
    float: right;
    position: relative;
    // box-shadow: inset 0 -2px 4px rgba(0,43,57,.09), 0 1px 0 #5ccafa;
    box-shadow: -1px 0 0 rgba(85,182,225,.4);
    background: transparent url(../img/glow.png) no-repeat left top;
}

.hg-items {
    float: right;
    width: 72%;
}

.col-1-2 {
    width: 50%;
    float: left;
}
.col-1-3 {
    width: 33.33333333333333%;
    float: left;
}
.col-1-5 {
    width: 20%;
    float: left;
}

.hg-items .col-1-2:nth-child(odd) {
    padding-right: 8px;
}
.hg-items .col-1-2:nth-child(even) {
    padding-left: 8px;
}

.hg-items .col-1-2 {
    height: 95px;
    margin-bottom: 16px;
    img {
        display: block;
        width: 100%;
        transition: all 0.25s ease-out;
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        transition: all 0.25s ease-out;
        &:hover {
            img {
                transform: scale(1.1);
            }
            span {
                background: #01344c;
            }
        }
    }
    span {
        transition: all 0.25s ease-out;
        display: block;
        width: 100%;
        height: 26px;
        line-height: 26px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(0,71,105,.9);
        color: #fff;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        text-align: center;
        letter-spacing: 0.3em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.hg-img {
    display: block;
    position: absolute;
    bottom: 0;
    left: 20px;
    max-height: 200px;
}


.home-groups-s {
    padding-bottom: 4px;
    padding-top: 34px;
    position: relative;
}
.home-groups-slider {
    // overflow: hidden;
}
.home-groups-slider .hg-img {
    bottom: -4px;   
}

.home-groups-pager {
    position: absolute;
    top: 10px;
    left: 28%;
    @include max-screen(970px) {
        left: 20px;
    }
    li {
        background: #fff;
        width: 10px;
        height: 10px;
        line-height: 10px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        cursor: pointer;
        // b {
        //     width: 4px;
        //     height: 4px;
        //     display: inline-block;
        //     background-color: #0074ac;
        // }
        &.cycle-pager-active {
            background: #0074ac;
        }
        @include max-screen(480px) {
            background: #ddd;
        }
    }
}

.home-action {
    min-height: 50px;
    width: 33.3%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20px;
}
.home-action-window {
    min-height: 100px;
    position: relative;
    background: #def1fa;
    box-shadow: 0 -2px 5px rgba(1,1,1,.07), inset 0 -2px 8px rgba(0,43,57,.04);
    padding: 15px;
    &:before {
        content: "";
        width: 75px;
        height: 145px;
        background: transparent url(../img/dude.png) no-repeat left top;
        position: absolute;
        bottom: 0;
        left: -61px;
    }
}
.home-action-thumb img {
    display: inline-block;
    max-width: 100%;
    border: 1px solid rgba(1,19,27,.58);
    box-shadow: 0 0 3px rgba(1,1,1,.27);
    transition: all 0.15s ease-out;
}
.home-action-thumb:hover img {
    transform: scale(1.05) rotate(-1.2deg);
}
.ha-desc {
    text-align: center;
    padding-top: 40px;
}
.ha-desc-soon {
    h3, h4 {
        font-weight: 400;
    }
    h3 {
        font-size: 21px;
    }
    @include max-screen(480px) {
        color: #fff;
    }
}
.col-soon {
    opacity: .5;
}
.ha-title {
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
}
.ha-text {
    font-size: 12px;
    color: #000;
    margin-bottom: 15px;
}
.btn-default {
    font-family: $site-font;
    transition: all 0.15s;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-size: 12px;
    color: #016b9e;
    border-radius: 2px;
    border: 1px solid #016b9e;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1;
    padding: 5px 20px 5px 9px;
    position: relative;
    background: transparent;
    min-height: 24px;
    .icon-arrow-right {
        font-size: 16px;
        height: 18px;
        width: 10px;
        position: absolute;
        right: 10px;
        top: 3px;
    }
    .icon-arrow-left {
        font-size: 16px;
        height: 18px;
        width: 10px;
        position: absolute;
        left: 2px;
        top: 3px;
    }
}
.btn-no-icon {
    padding: 5px 9px 5px 9px;
}
.btn-default-back {
    padding: 5px 9px 5px 20px;
}
.btn-default:hover {
    background: #016b9e;
    color: #fff;
    text-decoration: none;
}


.btn-big-form {
    width: 100%;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}
.home-content .content {
    padding-top: 20px;
    padding-bottom: 20px;
}
.page-subtitle {
    text-align: center;
    overflow: hidden;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    letter-spacing: 0.3em;
    span {
        position: relative;
        &:before, &:after {
            $linesHeight: 2px;
            content: "";
            position: absolute;
            border-bottom: 1px solid #e1e1e1;
            border-top: 1px solid #e1e1e1;
            width: 600px;
            height: $linesHeight;
            top: 50%;
            margin-top: floor(-$linesHeight / 2);
        }
        &:before {
            right: 100%;
            margin-right: 15px;
        }
        &:after {
            left: 100%;
            margin-left: 15px;
        }
    }
}

.hpi-container {
    position: relative;
    margin-bottom: 28px;
}
.home-product-items {
    margin-top: 15px;
    margin-bottom: 18px;
    height: 192px;
    .product-item {
        margin-right: 10px;
    }
    .owl-item {
        padding-right: 10px;
    }
}


.product-item {
    height: 202px;
    @include window;
    position: relative;
    float: left;
    width: 100%;
}
.pi-img {
    display: block;
    height: 140px;
    text-align: center;
    line-height: 140px;
    position: relative;
    width: 100%;
    img {
        max-width: 80%;
        max-height: 80%;
        transition: all 0.2s;
    }
}
.pi-name {
    height: 60px;
    background: #f9f9f9;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #363636;
    padding: 3px 10px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    transition: all 0.2s;
    border-top: 1px solid #ebebeb;
}
.pi-name-noprice {
    padding-top: 14px;
    // line-height: 35px;
}
.pi-kind {
    text-transform: uppercase;
    // line-height: 24px;
    font-size: 10px;
    color: #ababab;
    // height: 18px;
    display: block;
    text-align: center;
}

.pi-price-disc {
    position: absolute;
    top: -2px;
    right: 4px;
    background: #0074ac;
    color: #fff1d2;
    font-size: 11px;
    font-weight: 600;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    text-align: center;
}

.pi-price-old {
    background: #2195cd;
    font-size: 14px;
    display: block;
    // padding: 4px 8px 0 8px;
}

.pi-decimal {
    font-size: 70%;
}

.pi-price-old-value {
    float: left;
    // text-decoration: none;
    padding: 2px 5px;
    position: relative;
    text-align: center;

    // &:before {
    //     border-top: 1px solid #000;
    //     content:"";
    //     margin: 0 auto; /* this centers the line to the full width specified */
    //     position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    //     top: 50%; left: 0; right: 0; bottom: 0;
    //     width: 95%;
    // }

}

.pi-disc {
    display: block;
    background: #beebff;
    // padding: 4px 6px;
    color: #0074ac;
    // border-bottom-right-radius: 2px;
    // border-bottom-left-radius: 2px;
    float: right;
    padding: 2px 5px;
    text-align: center;
}

.pi-price-default {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    background: #1ba4e6;
    display: inline-block;
    height: 36px;
    line-height: 36px;
}

.owl-controls {
    display: none !important;
}
.pi-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -31px;
    margin-top: -12px;
    opacity: 0;
    transition: all 0.2s;
}
.product-item:hover {
    .pi-hover {
        opacity: 1;
    }
    .pi-name {
        color: #0074ac;
    }
    .pi-img img {
        opacity: .15;
        transform: scale(1.1);
    }
}


.home-news {
    @include window;
    min-height: 100px;
    margin-top: 16px;
    .col-1-3:nth-child(3n+3) .home-news-item {
        border-right: 0;
    }
}

.home-news-link {
    text-align: center;
    margin-top: 14px;
    margin-bottom: 24px;
}
.inside-news {
    .col-1-3 .home-news-item {
        border-bottom: 1px solid #ebecec;
    }
    .home-news-item {
        position: relative;
        top: 1px;
    }
}

.home-news-item {
    padding: 12px 15px 20px 15px;
    border-right: 1px solid lighten(#dee0df, 5%);
}

.hni-date {
    color: #a9a8ac;
    font-size: 12px;
    display: block;
}
.hni-title {
    font-size: 15px;
    font-weight: 600;
    color: #00ace5;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
    a {
        color: inherit;
        &:hover {
            color: #97979b;
        }
    }
}
.hni-img-container {
    width: 65px;
    height: 69px;
    float: left;
    margin-right: 15px;
}
.hni-img {
    width: 65px;
    // margin-right: 15px;
    border-radius: 2px;
    box-shadow: 0 0 1px lighten(#000, 70%);
    // float: left;
    position: relative;
    top: 4px;
}
.hni-text {
    font-size: 12px;
    color: #97979b;
    line-height: 1.33;
    margin-bottom: 4px;
}
.link-default {
    display: inline-block;
    color: #00ace5;
    font-size: 12px;
    &:hover {
        color: #97979b;
    }
    .icon {
        font-size: 14px;
        top: 3px;
        left: -2px;
    }
}

.carousel-ctrl {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    color: #d7d7d7;
    font-size: 20px;
    margin-top: -10px;
    &:hover {
        color: #85848a;
    }
}
.carousel-prev {
    left: -30px;
}
.carousel-next {
    right: -20px;
}

.home-info {
    height: 122px;
    @include window;
    margin-bottom: 24px;
    .home-info-item:first-child {
        border-right: 1px solid lighten(#dee0df, 5%);
    }
}

.home-info-item {
    height: 120px;
    background-image: linear-gradient(to left top, #e9f5fa 0%, #fff 55%);
    padding: 12px 10px 10px 15px;
    position: relative;
}
.hi-title {
    font-size: 12px;
    color: #111;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 8px;
}
.hi-text {
    padding-right: 100px;
    color: #85848a;
    font-size: 12px;
    line-height: 1.3;
}
.hi-action {
    height: 24px;
    margin-top: 12px;
    input {
        height: 24px;
        background: #f9f9f9;
        border: 1px solid lighten(#a9a8ac, 15%);
        position: relative;
        border-radius: 2px;
        font-family: $site-font;
        padding-left: 5px;
        font-size: 12px;
        line-height: 24px;
        width: 170px;
        margin-right: 5px;
        &:hover, &:focus {
            border-color: #a9a8ac;
        }
    }
    .btn-default {
        position: relative;
        border-color: #00ace5;
        color: #00ace5;
        &:hover {
            background: #00ace5;
            color: #fff;
        }
    }
}
.hi-img {
    display: block;
    position: absolute;
    height: 64px;
    right: 30px;
    top: 50%;
    margin-top: -32px;
}
.home-brands {
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
    img {
        display: block;
        max-width: 100%;
        margin-bottom: 20px;
    }
}

.site-footer-top {
    min-height: 100px;
    background: #0b496f;
    box-shadow: inset 0 11px 51px rgba(0,43,57,.2);
    padding: 20px 0;
}
.site-footer-meta {
    min-height: 20px;
    background: #0a4265;
}

.footer-cats {
    float: left;
    ul {
        float: left;
        margin-right: 60px;
        li {
            margin-top: 5px;
        }
        li:first-child {
            margin-top: 0;
        }
        a {
            color: #c8eeff;
            font-size: 11px;
            &:hover {
                color: #fff;
            }
        }
    }
    ul:last-child {
        margin-right: 60px;
    }
}
.footer-info {
    font-size: 11px;
    color: #fff;
    line-height: 18px;
    text-align: right;
    float: right;
    p {
        margin-top: 12px;
    }
    a {
        color: #c8eeff;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }
}
.footer-info-img {
    width: 42px;
}

.site-footer-meta {
    padding: 20px 0;
}

.footer-nav {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    float: left;
    li {
        margin-left: 20px;
        display: inline-block;
    }
    li:first-child {
        margin-left: 0;
    }
    a {
        color: #fff;
        &:hover {
            color: #c8eeff;
        }
    }
    @include max-screen(970px) {
        float: none;
        text-align: center;
        margin-top: 0;
    }
}
.footer-disclaimer {
    float: right;
    font-size: 11px;
    line-height: 1.5;
    color: #fff;
    opacity: .8;
    margin-top: -3px;
    text-align: right;
    @include max-screen(970px) {
        float: none;
        text-align: center;
        margin-top: 10px;
    }
}

.fb-like {
    height: 20px;
    overflow: hidden;
}
.footer-social {
    float: right;
    a {
        color: #fff;
        margin-left: 10px;
        &:hover {
            color: #c8eeff;
        }
    }
}
.show-menu-cont {
    display: none;
    margin-top: 10px;
    margin-left: 84px;
    height: 24px;
    a {
        color: #fff;
        text-transform: uppercase;
        background: #147fb3;
        border-radius: 3px;
        font-weight: 600;
        font-size: 13px;
        padding: 3px 8px;
        display: inline-block;
    }
    .icon {
        font-size: 14px;
        top: 2px;
        margin-right: 2px;
        position: relative;
    }
}
.menu-overlay {
    position: fixed;
    z-index: 140;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 52, 77, 0.95);
    .hide-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #fff;
        font-size: 24px;
    }
    ul {
        width: 300px;
        position: absolute;
        top: 30px;
        left: 50%;
        margin-left: -150px;
        text-align: center;
        font-size: 18px;
        li {
            margin-bottom: 15px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            ul {
                display: none;
            }
        }
        a {
            color: #fff;
        }
    }
    .icon-arrow-down {
        display: none;
    }
}
.menu-overlay {
    display: none;
}

.home-brands img.home-brands-img-mobile {
    display: none;
}

.pd-content > ul {
    list-style: circle;
    margin-left: 20px;
}
.site-article > ul {
    list-style: circle;
    margin-left: 20px;   
    li {
        padding-bottom: 8px;
        ul {
            list-style: circle;
            padding-left: 30px;
            margin-top: 10px;
        }
    }
}

.site-article > ol {
    list-style: decimal;
    margin-left: 20px;   
    li {
        padding-bottom: 8px;
        ol {
            list-style: circle;
            padding-left: 30px;
            margin-top: 10px;
        }
    }
}


.product-price {
    padding-top: 3px;
    height: 19px;
    b {
        font-size: 14px;
        display: inline-block;
        height: 19px;
        line-height: 18px;
        padding: 0 5px;
        font-weight: 600;
    }
}
.product-price-default {
    b {
        color: #fff;
        background: #1ba4e6;
    }
}

.product-price-special {
    margin: 0 auto;
    display: inline-block;
    > span {
        display: inline-block;
        height: 19px;
        line-height: 18px;
        border: 1px solid #f18903;
        border-right: 0;
        float: left;
        padding: 0 5px;
    }
    i {
        color: #676767;
        font-style: normal;
        display: inline-block;
        height: 19px;
        vertical-align: bottom;
    }
    em {
        color: #f18903;
        font-style: normal;
        display: inline-block;
        height: 19px;
    }
    b {
        color: #fff;
        background: #f18903;
        float: left;
        display: inline-block;
        position: relative;
        padding-left: 7px;
        &:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 0 9px 3px;
            border-color: transparent transparent transparent #fff;
            position: absolute;
            left: 0;
            top: 1px;
        }
    }
}
.special-tag {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 15px;
    line-height: 15px;
    color: #fff;
    background: #f18903;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 0 5px;
    letter-spacing: 0.05em;
    z-index: 2;
}
.special-tag-pic {
    background: transparent;
    width: 25px;
    height: 25px;
    padding: 0;
    img {
        width: 100%;
        height: 100%;
    }
}
.special-tag-posto {
    display: block;
    position: absolute;
    top: 12px;
    right: 30px;
    z-index: 2;
    min-width: 25px;
    min-height: 25px;
    &:before {
        width: 25px;
        height: 25px;
        background: transparent url(../img/posto-small.png) no-repeat top left;
        display: block;
        background-size: 100% 100%;
        background-size: cover;
        content: "";
        position: absolute;
        top: -5px;
        right: -22px;
    }
    span {
        opacity: 0;
        transition: opacity 0.2s;
        display: block;
        height: 15px;
        line-height: 15px;
        color: #fff;
        background: #f18903;
        text-align: center;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        padding: 0 5px;
    }
}
.product-item:hover .special-tag-posto span {
    opacity: 1;
}
.action-soon {
    text-align: center;
    padding: 30px;
    margin-top: 40px;
    h3 {
        font-size: 70px;
        font-weight: 600;
        line-height: 1.1;
        padding: 0;
        margin: 0;
        @include max-screen(600px) {
            font-size: 48px;    
        }
    }
    h4 {
        font-size: 46px;
        font-weight: 400;
        line-height: 1;
        @include max-screen(600px) {
            font-size: 30px;    
        }
    }
}
.parsley-errors-list {
    color: red;
}

.product-items-header {
    // background: #fff;
    margin-top: -10px;
    border-radius: 2px;
    border-bottom: 1px solid rgba(66,66,66,0.1);
    position: relative;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 20px;
    strong {
        font-weight: 500;
    }
    form {
        font-size: 13px;
        select {
            font-size: 13px;
        }
        @include max-screen(800px) {
            float: none !important;
            margin-top: 8px;
        }
    }
}

.timeleft {
    margin-top: 10px;
}



.pd-posto-msg {
    background: #f18903;
    color: #fff;
    display: inline-block;
    padding: 6px 35px 6px 8px;
    margin-top: 10px;
    font-size: 11px;
    position: relative;
    &:after {
        width: 25px;
        height: 25px;
        background: transparent url(../img/posto-small.png) no-repeat top left;
        display: block;
        background-size: 100% 100%;
        background-size: cover;
        content: "";
        position: absolute;
        top: 0;
        right: 5px;
    }
}

.cf-disclaimer {
    margin-top: 15px;
}

.cf-required {
    margin-top: 15px;
    font-weight: bold;
}