.inside-subheader {
    // min-height: 58px;
    padding: 16px 0 18px 0;
    background: linear-gradient(to bottom, #2296ce, #1589c1);
    box-shadow: inset 0 -2px 4px rgba(0,43,57,.09);
    .content {
        position: relative;
    }
}
.breadcrumbs {
    margin-left: 110px;
    li {
        display: inline-block;
        font-size: 16px;
        color: #fff;
        margin-left: 10px;
        padding-left: 10px;
        position: relative;
        &:before {
            position: absolute;
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\e605";
            color: #bbd6e9;
            top: 4px;
            left: -10px;
        }
    }
    li:first-child {
        margin-left: 0;
        padding-left: 0;
        &:before {
            display: none;
        }
    }
    a {
        color: #bbd6e9;
        &:hover {
            color: #fff;
        }
    }
}
.bread-home {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #eef8fe;
    border: 1px solid #bbd6e9;
    border-radius: 2px;
    font-size: 14px;
    &:hover {
        border-color: #fff;
    }
}

.inside-content {
    background: linear-gradient(to right, rgba(237,237,237,1) 0%, rgba(237,237,237,1) 50%, rgba(243,245,247,1) 51%, rgba(243,245,247,1) 100%);
}

.inside-content .content {
    display: table;
    width: 100%;
    min-height: 600px;
}
.inside-sidebar {
    padding-top: 20px;
    vertical-align: top;
    width: 240px;
    min-width: 240px;
    max-width: 240px;
    display: table-cell;
    background: #ededed;
    padding-bottom: 20px;
    margin-bottom: 20px;
    // float: left;
    // min-height: 400px;
    // border-right: 1px solid lighten(#cacdd0, 8%);
}
.inside-main {
    display: table-cell;
    vertical-align: top;
    padding-top: 20px;
    padding-left: 20px;
    // margin-left: 240px;
    background: #f3f5f7;
    padding-bottom: 20px;
    width: 100%;

    // min-height: 600px;
}

.sidebar-nav {
    width: 100%;
    margin-bottom: 30px;
}
.sidebar-nav-mob {
    @include max-screen(640px) {
        display: none !important;
    }
}
.sidebar-nav-main {
    font-size: 14px;
    color: #989898;
    text-align: right;
    .icon-tag {
        margin-right: 4px;
    }
    > li:first-child {
        margin-top: 0;
    }
    > li {
        text-transform: uppercase;
        margin-top: 10px;
        position: relative;
        > a {
            color: #989898;
            padding-right: 20px;
            width: 100%;
            display: block;
            // white-space: nowrap;
            // text-overflow: ellipsis;
            // overflow: hidden;
            @include max-screen(650px) {
                white-space: normal;
            }
            &:hover {
                color: #016b9e;
            }
        }
        &.snm-selected > a {
            color: #016b9e;
        }
    }
}
.snm-selected:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #f3f5f7;
    position: absolute;
    top: 2px;
    right: 0;
}

.inside-product-items {
    .col-1-3 {
        margin-bottom: 14px;
    }
    .col-1-3:nth-child(3n+2) {
        padding-right: 7px;
        padding-left: 7px;
    }
    .col-1-3:nth-child(3n+1) {
        padding-right: 7px;
    }
    .col-1-3:nth-child(3n) {
        padding-left: 7px;
    }
}
.inside-action-items {
    margin-top: 15px;
}

.pagination {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    li {
        display: inline-block;
        width: 26px;
        height: 26px;
        margin-left: 2px;
        line-height: 24px;
        text-align: center;
        transition: all 0.15s;
        font-weight: 600;
        &:first-child {
            margin-left: 0;
        }
        a {
            display: block;
            width: 26px;
            height: 26px;
            transition: all 0.15s;
            color: #016b9e;
            border-radius: 2px;
            border: 1px solid #016b9e;
            &:hover {
                background: #016b9e;
                color: #fff;
            }
        }
        &.page-selected a {
            border-color: #00ace5;
            background: #00ace5;
            color: #fff;
            &:hover {
                border-color: #00ace5;
                background: #00ace5;
                color: #fff;
            }
        }
        .icon {
            font-size: 16px;
            top: 2px;
        }
    }
}


.sidebar-subnav {
    background: #f4f4f4;
    padding-top: 15px;
    padding-bottom: 1px;
    margin-top: 15px;
    border-right: 2px solid #ededed;
    > li {
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 20px;
        margin-bottom: 15px;
        &.ssn-selected {
            // color: #016b9e;
            a {
               color: #016b9e;
            }
        }
        &.product-subnav {
            a {
                color: #525252;
            }
        }
        > a {
            color: #989898;
            // font-weight: 600;
            &:hover {
                color: #016b9e;
            }
        }
    }
}
.subnav-content {
    background: #e9e9e9;
    margin: 10px 0 0 18px;
    padding: 12px;
    text-align: left;
    select {
        width: 100%;
        padding: 5px 0;
    }
}

.sidebar-filters {
    text-transform: none;
    h4 {
        font-size: 14px;
        color: #5e5e5e;
        font-weight: 600;
        margin-top: 10px;
    }
    label {
        display: block;
        margin-top: 7px;
        input {
            margin-right: 2px;
        }
    }
    .btn-default {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
}
.sidebar-back {
    text-align: right;
    margin-bottom: 25px;
    padding-right: 20px;
}

.sidebar-window {
    margin-bottom: 20px;
    margin: 0 20px 25px 0;
}

.sw-title {
    color: #000;
    letter-spacing: 0.2em;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #dadada;
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 10px;
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 1px;
        background: #dadada;
    }
}
.sw-text {
    font-size: 12px;
    line-height: 1.3;
}
.sw-link {
    float: right;
    margin-top: 5px;
}

.product-page {
    position: relative;
    min-height: 600px;
    @include max-screen(650px) {
        min-height: 100px;
    }
}

.product-img {
    width: 33%;
    float: left;
    > a {
        display: block;
        width: 100%;
        padding: 20px;
        @include window;
        text-align: center;
        background: #fff;
        position: relative;
        b {
            position: absolute;
            bottom: 5px;
            right: 5px;
            padding: 5px;
            background: #0074ac;
            color: #fff;
            transition: all 0.15s;
            &:hover {
                background: darken(#016b9e,5%);
            }
        }
        &:hover {
            img {
                opacity: .5;
            }
            b {
                padding: 10px;
            }
        }
    }
    img {
        max-width: 100%;
        max-height: 400px;
        transition: all 0.15s;
    }
}
.product-img-gallery {
    margin-top: 10px;
    li {
        width: 50px;
        height: 50px;
        display: inline-block;
        margin-bottom: 4px;
        @include window;
        a {
            // padding: 4px;
            display: block;
            background: #fff;
            width: 100%;
            height: 100%;
            padding: 4px;
            text-align: center;
            line-height: 42px;
            position: relative;
            &:hover {
                img {
                    opacity: .5;
                }
                b {
                    opacity: 1;
                }
            }
            b {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                line-height: 50px;
                background: #0074ac;
                color: #fff;
                transition: all 0.15s;
                opacity: 0;
            }
        }
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
}


.product-desc {
    width: 67%;
    float: left;
    padding-left: 20px;
    margin-bottom: 25px;
    .fb-like {
        position: absolute;
        top: 0;
        right: 0;
    }
}
.pd-name {
    font-size: 32px;
    font-weight: 600;
    color: #363636;
    line-height: 1;
    letter-spacing: -0.03em;
    .pd-manuf {
        font-weight: 300;
        font-size: 22px;
        margin-bottom: 5px;
        display: block;
        letter-spacing: normal;
    }
}


.pd-kind {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    display: block;
    margin-bottom: 5px;
}

.pd-price-container {
    border-radius: 2px;
    margin-top: 12px;
    .special-tag {
        display: inline-block;
        position: static;
        margin-bottom: 5px;
        font-size: 14px;
        height: 20px;
        line-height: 20px;
    }
}
.pd-price {
    padding: 0 6px;
    display: inline-block;
}
.pd-discount {
    padding: 0 8px;
    background: #016ca0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #f3f5f7;
    display: inline-block;
}
.pd-content {
    margin-top: 15px;
    line-height: 1.5;
}

.specification {
    width: 100%;
    tr:nth-child(even) {
        background: #fafafa;
    }
    td {
        padding-top: 7px;
        padding-bottom: 7px;
    }
    td.spec-name {
        padding-right: 20px;
        font-weight: 600;
        width: 25%;
        padding-left: 15px;
        color: darken(#85848a, 5%);
    }
}

.product-page .page-subtitle {
    margin-top: 15px;
}


.sidebar-newsletter {
    margin-top: 15px;
    input {
        height: 24px;
        display: inline-block;
        border: 1px solid #a9a8ac;
        border-radius: 2px;
        font-family: $site-font;
        font-size: 12px;
        padding-left: 8px;
        width: 100%;
    }
    .btn-arrow {
        float: right;
    }
}
.sn-input {
    float: left;
    width: 184px;
}
.btn-arrow {
    height: 24px;
    display: inline-block;
    border: 1px solid #00ace5;
    color: #00ace5;
    border-radius: 2px;
    background: transparent;
    font-family: $site-font;
    font-size: 12px;
    &:hover {
        background: #00ace5;
        color: #fff;
    }
    .icon{
        font-size: 15px;
    }
}


.section-subtitle {
    color: #363636;
    line-height: 1;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #dadada;
    padding-bottom: 7px;
    position: relative;
    margin-bottom: 15px;
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 1px;
        background: #dadada;
    }
    span {
        font-weight: 300;
        float: right;
    }
}

.section-intro {
    margin-bottom: 20px;
}

.site-article {
    > p {
        font-size: 14px;
        line-height: 1.57;
        margin-bottom: 10px;
    }
    > h3 {
        color: #363636;
        margin-bottom: 15px;
        font-weight: 600;
    }
    > blockquote {
        margin-bottom: 10px;
        border-left: 5px 
        solid #2995CA;
        padding: 12px 20px 12px 45px;
        font-style: italic;
        font-size: 15px;
        line-height: 1.5;
        position: relative;
        background: #fff;
        &::before {
            content: "\201C"; 
            position: absolute;
            display: block;
            top: 10px;
            left: 7px;
            font-size: 80px;
            line-height: 1;
            font-family: Georgia, serif;
            opacity: .4;
            font-style: normal;
        }
    }
    > img {
        text-align: center;
        max-width: 100%;
        margin: 10px auto;
    }
    > p > img {
        text-align: center;
        max-width: 100%;
        margin: 10px auto 20px auto;
        display: block;
    }
    a {
        color: #00ace5;
        &:hover {
            text-decoration: underline;
        }
    }
}

.img-full {
    display: block;
    max-width: 100%;
    margin: 20px auto 20px auto;
}

.page-gallery {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.pg-items {
    margin-top: 10px;
    .pg-item {
        height: 90px;
        width: 20%;
        display: block;
        position: relative;
        float: left;
        margin-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        a {
            display: block;
            max-width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 2px;
            border: 1px solid #ccc;
            &:hover {
                border: 1px solid darken(#ccc, 20%);
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
        }
    }
}



.team-list {
    li {
        margin-bottom: 20px;
        display: block;
    }
    b {
        font-size: 18px;
        display: block;
        color: #363636;
        font-weight: 600;
    }
    small {
        font-size: 12px;
        margin-top: 2px;
        display: block;
        font-style: italic;
        text-transform: uppercase;
    }
    a {
        color: #016b9e;
        font-style: italic;
        display: block;
        font-size: 12px;
        margin-top: 2px;
        &:hover {
            text-decoration: underline;
        }
    }
}

.career-form {
    max-width: 400px;
    .btn-default {
        display: inline-block;
        margin-top: 10px;
    }
}
.contact-form {
    max-width: 600px;
    .btn-default {
        display: inline-block;
        margin-top: 10px;
    }
}

.contact-form .btn-big-form {
    margin-top: 22px;
}


.cf-field {
    margin-bottom: 10px;
    label {
        font-size: 16px;
        color: #363636;
        font-weight: 600;
        display: block;
        margin-bottom: 5px;
        &.cf-required {
            position: relative;
            &:before {
                content: "*";
                position: absolute;
                top: 2px;
                left: -10px;
            }
        }
        &.cf-optional {
            font-weight: 400;
            opacity: .9;
        }
    }
    input {
        width: 100%;
        border-radius: 2px;
        background-color: #f9f9f9;
        border: 1px solid #a9a8ac;
        padding: 5px;
        &:focus {
            background: #fff;
        }
    }
    input.cf-checkbox {
        width: auto;
        display: inline;
        border-radius: 2px;
        background-color: #f9f9f9;
        border: 1px solid #a9a8ac;
        padding: 5px;
        &:focus {
            background: #fff;
        }
    }
    textarea {
        width: 100%;
        min-height: 200px;
        border-radius: 2px;
        background-color: #f9f9f9;
        border: 1px solid #a9a8ac;
        padding: 5px;
        &:focus {
            background: #fff;
        }
    }
}
.cf-field-choose {
    position: relative;
}
.group-brands {
    .col-1-5 {
        padding: 5px;
    }
}
.brand-item {
    padding: 5px;
    background: #fff;
    display: block;
    @include window;
    height: 85px;
    text-align: center;
    line-height: 70px;
    &:hover {
        opacity: .7;
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.search-groups {
    li {
        display: inline-block;
        a {
            display: inline-block;
            color: #fff;
            font-size: 16px;
            padding: 12px 14px;
            margin-right: 6px;
            margin-bottom: 8px;
            background-color: #00ace5;
            border: 1px solid #00ace5;
            text-transform: uppercase;
            font-size: 12px;
            // @include window;
            &:hover {
                background: #fff;
                color: #00ace5;
            }
        }
    }
    margin-bottom: 14px;
}

.ch-choose-content {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
    position: absolute;
    top: 58px;
    right: 0;
    width: 550px;
    z-index: 2;
    li {
        width: 50%;
        float: left;
    }
    label {
        font-size: 12px;
    }
    @include max-screen(650px) {
        height: 250px;
        width: 300px;
        ul {
            height: 230px;
            overflow: scroll;
        }
        li {
            width: 100%;
            float: none;
            input {
                margin-right: 5px;
            }
            label {
                font-size: 13px;
            }
        }
    }
}
.ch-choose-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Arial;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 19px;
    display: block;
    border-radius: 50%;
    background: #ccc;
    color: #fff;
    font-weight: bold;
}
.btn-pdf {
    display: block;
    width: 80%;
    margin: 20px auto 40px auto;
    background: #00ace5;
    border: 1px solid #00ace5;
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    padding: 0;
    &:hover {
        background: transparent;
        border: 1px solid #00ace5;
        color: #00ace5;
    }
    .icon {
        font-size: 20px;
        vertical-align: middle;
        position: relative;
        top: -2px;
        left: -4px;
    }
}
.btn-container {
    text-align: center;
}

.news-big-img {
    display: block;
    float: left;
    max-width: 140px;
    max-height: 140px;
    margin: 0 20px 10px 0;
    &:hover {
        opacity: .8;
    }
    img {
        max-width: 140px;
        max-height: 140px;
    }
}
.news-big-center {
    display: block;
    float: none;
    text-align: center;
    margin: 10px auto 20px auto;
    max-width: 100%;
        max-height: 400px;
    img {
        max-width: 100%;
        max-height: 400px;
    }
}
.longdesc {
    display: none;
}
.map-container {
    height: 350px;
    position: relative;
}
#map_canvas { width: 100%; height: 350px; margin-bottom: 50px;}
.map-info {
    position: absolute;
    height: 86%;
    top: 30px;
    bottom: 20px;
    right: 20px;
    background: rgba(10,68,104,.9);
    width: 200px;
    z-index: 2;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    line-height: 1.7;
    p {
        margin-bottom: 10px;
    }
    a {
        color: #5ecbff;
        &:hover {
            text-decoration: underline;
        }
    }
}

.contact-intro {
    margin-bottom: 15px;
    line-height: 1.7;
    a {
        display: block;
        color: #00ace5;
        &:hover {
            color: darken(#00ace5, 20%);
        }
        .icon {
            margin-right: 5px;
            position: relative;
            top: 1px;
        }
    }
}



.article-pic {
    // background: #fff;
    padding: 5px 15px 15px 15px;
    display: block;
    text-align: center;
    img {
        max-width: 500px;
        max-height: 400px;
        @include max-screen(1040px) {
            max-width: 100%;
        }
    }
    figcaption {
        font-style: italic;
        padding-top: 5px;
    }
}

.lice {
    border: 1px solid #ccc;
    padding: 20px;
    position: relative;
    margin-top: 24px;
    strong {
        font-size: 18px;
        position: absolute;
        top: -12px;
        left: 12px;
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
        background: #f3f5f7;
    }
}



.cf-choose-trigger {
    width: 100%;
    border-radius: 2px;
    background-color: #f9f9f9;
    border: 1px solid #a9a8ac;
    padding: 5px;
    position: relative;
    cursor: pointer;
    &:after {
        content: "";
        width: 0; 
        height: 0; 
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid rgba(0,0,0,.5);
        position: absolute;
        top: 11px;
        right: 10px;
    }
}
.cf-choose-error {
    color: red;
    margin-bottom: 10px;
}
.cf-error {
    color: red;
}

.sidebar-responsive {
    // padding: 20px 0 0 0;
    > form {
        margin-bottom: 20px;
        max-width: 100%;
        padding-right: 20px;
        float: right;
        width: 100%;
    }
    > form.resf-secondary {
        width: 90%;
    }
    > form.resf-tertiary {
        width: 80%;
    }
    select {
        width: 100%;
    }
    @include min-screen(641px) {
        display: none !important;
    }
}


.filters-responsive {
    margin-bottom: 20px;
    padding: 20px;
    background: rgba(0,0,0,.05);
    text-align: center;
    @include min-screen(641px) {
        display: none !important;
    }
}

.filters-responsive .sidebar-filters {
    display: none;
    text-align: left;
}
.ffilters-open {
    margin-left: auto;
    margin-right: auto;
}

.letak-info {
    margin-bottom: 20px;
}
.letak-info-title {
    background: #f38901;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
}
.letak-info-desc {
    padding: 12px 16px;
    border: 1px solid #f38901;
    line-height: 1.5;
}

.soon-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 20px 10px 15px 10px;
    @include max-screen(780px) {
        font-size: 14px;
        padding: 15px 5px 10px 5px;
    }
    @include max-screen(500px) {
        color: #fff;
    }
}
.soon-desc {
    text-align: center;
    font-size: 14px;
    display: block;
    padding: 0 10px 20px 10px;
    @include max-screen(780px) {
        font-size: 13px;
        padding: 0 5px 15px 5px;
    }
    @include max-screen(500px) {
        color: #fff;
    }
}
@include max-screen(500px) {
    .soon-link a {
        color: #fff;
        border-color: #fff;
    }
}
.soon-link {
    text-align: center;
    padding-bottom: 10px;
}