@include max-screen(1040px) {

    .content {
        margin: 0 20px;
    }

}

@include max-screen(1020px) {
	
	.inside-content .content {
		display: block;
		width: auto;
		min-height: 400px;
	}
	.inside-sidebar {
		display: block;
		width: 240px;
		min-width: 0;
		max-width: none;
		float: left;
	}
	.inside-main {
		display: block;
		width: auto;
		margin-left: 240px;
		padding-bottom: 40px;
		min-height: 400px;
	}

}

@include max-screen(970px) {


	.home-action-window:before {
		background: none;
	}
	.home-action {
		padding: 0 20px 0 0;
		width: 40%;
	}
	
	.hg-img {
		display: none;
	}

	.home-groups {
		padding-left: 20px;
		width: 60%;
	}

	.hg-items {
		width: 100%;
	}

}

@include max-screen(900px) {
	
	.hi-text {
		padding-right: 20px;
	}

	.hi-img {
		display: none;
	}
	.group-brands {
	    .col-1-5 {
	        width: 33.3%;
	    }
	}

	.inside-news {
		.col-1-3 {
			width: 50%;
		}
		.col-1-3:nth-child(2n+1) .home-news-item {
        	border-right: 1px solid #ebecec;
    	}
	}

}

@include max-screen(1015px) {
	
	.site-header {
		height: 87px;
	}
	.site-nav {
		float: none;
		margin-top: 10px;
		z-index: 3;
		position: relative;
		margin-left: 64px;
	}
	.site-header-meta {
		float: none;
		margin-top: 10px;
		margin-left: 84px;
	}
	.site-slogan {
		display: none;
	}

	.site-logo {
		width: 62px;
		a {
			padding: 8px;
			border: 4px solid #fff;
		}
		img {
			max-width: 100%;
		}
	}
	.search-container {
		width: auto;
	}

	.search-input {
		display: inline-block;
		position: static;
		max-width: 130px;
	}
	.search-btn-submit {
		display: inline-block;
		position: relative;
		float: right;
		right: 4px;
	}

	.site-header-meta a.search-btn {
		display: none;
	}

	.home-action {
		bottom: auto;
		top: 20px;
	}

	.has-subnav > a > .icon {
		display: none;
	}

	.home-action-window .col-1-2:first-child {
		padding-right: 5px;
	}

	.home-news-main .col-1-3 {
		width: 50%;
	}
	.home-news-main .col-1-3:nth-child(3) {
		display: none;
	}

	.footer-cats {
		display: none;
	}
	.footer-info {
		width: 100%;
		float: none;
		text-align: center;
	}
	.footer-info-img {
		display: none;
	}
	.footer-info p {
		font-size: 14px;
		margin-top: 0;
		text-align: center;
	}

	.inside-subheader {
		padding: 8px 0 12px 0;
	}
	.breadcrumbs {
		margin-left: 0;
		li {
			font-size: 14px;
		}
	}

	.pg-items .pg-item {
		width: 25%;
	}


	.inside-product-items {
		.col-1-3 {
			width: 50%;
		    margin-bottom: 14px;
		}
		.col-1-3:nth-child(3n+2) {
		    padding-right: 0;
		    padding-left: 0;
		}
		.col-1-3:nth-child(3n+1) {
		    padding-right: 0;
		}
		.col-1-3:nth-child(3n) {
		    padding-left: 0;
		}

		.col-1-3:nth-child(2n+1) {
		    padding-right: 7px;
		}
		.col-1-3:nth-child(n+1) {
		    padding-left: 7px;
		}
	}



}


@include max-screen(780px) {

	.ha-desc {
		display: none;
	}

	.home-action {
		width: 30%;
		.col-1-2 {
			width: 100%;
			text-align: center;
		}
	}

	.home-action-thumb {
		margin: 0 auto;
	}

	.home-groups {
		width: 70%;
	}

	.show-menu-cont {
		display: block;
	}
	.site-nav {
		display: none;
	}

	.product-img {
		display: block;
		float: none;
		width: 60%;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
		a {
			margin: 0 auto;
		}
	}
	.product-desc {
		display: block;
		float: none;
		width: 100%;
		padding-left: 0;
	}

}


@include max-screen(650px) {

	.home-info, .home-info-item {
		height: auto;
	}
	
	.home-info .col-1-2 {
		width: 100%;
		float: none;
		border-right: 0;
	}
	.home-info .col-1-2:first-child .home-info-item {
		border-bottom: 1px solid lighten(#dee0df, 5%);
	}
	.footer-nav {
		width: 100%;
		float: none;
	}
	.footer-nav {
		width: 100%;
		float: none;
		text-align: center;
		li {
			margin-bottom: 5px;
		}
	}
	.footer-social {
		width: 100%;
		float: none;
		text-align: center;
		margin-top: 10px;
	}


	.inside-content {
		background: transparent;
	}
	.inside-sidebar {
		width: 100%;
		float: none;
		margin-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.inside-main {
		width: 100%;
		float: none;
		margin-left: 0;
		padding-left: 0;
		padding-bottom: 0;
		min-height: 200px;
	}
	.sidebar-nav {
		margin-bottom: 20px;
	}
	.sidebar-window {
		margin-bottom: 10px;
	}
	.sidebar-nav-main {
		text-align: left;
		li {
			display: inline-block;
			&.snm-selected:after {
				display: none;
			}
		}
		li.ssn-selected {
			display: block;
		}
	}
	.sidebar-newsletter .btn-arrow {
		float: none;
	}

	.sidebar-subnav {
		padding-left: 15px;
		border-right: 0;
	}

	.sidebar-back {
		padding-right: 0;
		margin-bottom: 10px;
	}

	.inside-news {
		.col-1-3 {
			width: 100%;
		}
		.col-1-3 .home-news-item {
        	border-right: none !important;
    	}
	}

	.sidebar-nav-news {
		li {
			display: none;
		}
		li:nth-child(-n+3){
		    display:block;
		}	
	}
	

}


@include max-screen(580px) {
	
	.hg-items .col-1-2 {
		height: 82px;
	}

	.home-news-main .col-1-3 {
		float: none;
		width: 100%;
	}

	.home-news-main .col-1-3:nth-child(2) {
		display: none;
	}

	.breadcrumbs li {
		font-size: 12px;
	}
	.breadcrumbs li:first-child {
		display: none;
	}
	.breadcrumbs li:nth-child(2):before {
		display: none;
	}
	.breadcrumbs li:nth-child(2){
		padding-left: 0;
		margin-left: 0;
	}
}

@include max-screen(500px) {
	
	.home-action {
		position: static;
		background: transparent;
		width: 100%;
	}
	.ha-desc {
		display: block;
		a {
			color: #fff;
			border-color: #fff;
		}
	}
	.home-action-window {
		background: transparent;
		box-shadow: none;
		.col-1-2 {
			width: 50%;
		}
	}
	.home-groups {
		width: 100%;
		padding-left: 0;
		background: #fff;		
		margin-bottom: 20px;
	}
	.hg-items {
		float: none;
		width: 100%;
		padding: 0 20px;
	}
	.ha-title {
		color: #fff;
	}
	.ha-text {
		color: #fff;
	}

	.pg-items .pg-item {
		width: 33.3%;
	}

	.inside-product-items {
		.col-1-3 {
			width: 100%;
		    margin-bottom: 14px;
		    .product-item {
		    	float: none;
		    }
		}
		.col-1-3:nth-child(3n+2) {
		    padding-right: 0;
		    padding-left: 0;
		}
		.col-1-3:nth-child(3n+1) {
		    padding-right: 0;
		}
		.col-1-3:nth-child(3n) {
		    padding-left: 0;
		}

		.col-1-3:nth-child(2n+1) {
		    padding-right: 0;
		}
		.col-1-3:nth-child(n+1) {
		    padding-left: 0;
		}
	}

	.search-btn-submit {
		position: absolute;
		top: 0;
		right: -20px;
		float: none;
	}
	.inside-sidebar-action {
		display: none;
	}

}

@include max-screen(500px) { 

	.sidebar-window-newsletter {
		display: none;
	}
	.sidebar-window-contact {
		display: none;
	}
	
	.search-input {
		max-width: 90px;
		padding-right: 8px;
	}
	.carousel-ctrl {
		display: none;
	}
	.home-product-items .owl-item {
		padding-right: 0;
	}
	.home-brands.content {
		margin: 0;
		padding: 0;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.hi-action {
		height: auto;
		input {
			margin-bottom: 10px;
		}
	}

	.section-subtitle {
		border: none;
		text-align: center;
		&:after {
			display: none;
		}
		span {
			display: block;
			float: none;
			margin-top: 5px;
		}
	}
	
	.home-brands img.home-brands-img {
	    display: none;
	}

	.home-brands img.home-brands-img-mobile {
	    display: block;
	}

	.map-container {
		height: auto;
	}
	.map-info {
		position: static;
		width: 100%;
	}
	#map_canvas {
		margin-bottom: 15px;
	}

}

@include max-screen(390px) { 
	.hg-items .col-1-2 span {
		position: static;
		text-align: left;
		padding-left: 10px;
		letter-spacing: normal;
	}
}

@include max-screen(479px) { 
	.hpi-container {
		padding: 0 20px;
	}
	.carousel-ctrl {
		display: block;
	}
	.carousel-prev {
		left: -5px;
		color: darkgray;
	}
	.carousel-next {
		right: -5px;
		color: darkgray;
	}
}