@mixin trans-small {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
@mixin trans-none {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

@mixin window {
    background: #fff;
    border-radius: 2px;
    border: 1px solid rgba(66,66,66,.1);
}