html, body {
    background: #fff url(../img/bg.png) repeat-y top left;
    color: #2a2a2a;
    min-height: 100%;
    height: 100%;
}
body {
    font-family: 'Source Sans Pro', Helvetica, Arial, serif;
    font-weight: 400;
}
html.login-page {
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg, #670d10 0%,#092756 100%);
    body {
        background: transparent;
    }
}
.login-window {
    width: 400px;
    margin: 100px auto 30px auto;
    background-color: #fff;
    padding-bottom: 1px;
    border-radius: 5px 5px 3px 3px;
    .c-block {
        .txtinput {
            width: 100%;
            max-width: 100%;
        }
    }
    .btn-add-large {
        width: 100%;
    }
    .sidebar-header {
        margin-bottom: 20px;
        padding-left: 10px;
        border-radius: 3px 3px 0 0;
    }
}
.c-block-errors {
    color: #B94A48;
    text-align: center;
    .cb-title {
        color: #B94A48;
    }
    p {
        font-size: 17px;
        font-weight: 300;
        margin-top: -8px;
    }
}
a {
    text-decoration: none;
}
button,
input,
select,
textarea {
    font-family: 'Source Sans Pro', Helvetica, Arial, serif;
}
.sidebar {
    width: 215px;
    background: #323543;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    color: #fff;
    padding-bottom: 20px;
}

.main {
    min-height: 500px;
    margin-left: 215px;
}
.main-header {
    height: 55px;
    background: #f9fafb;
    border-bottom: 1px solid #cfcfcf;
    padding: 0 20px;
    margin-bottom: 20px;
}
.sidebar-header {
    height: 55px;
    background: #2a2c39;
}
.sidebar-logo {
    padding: 14px 0 0 10px;
    img {
        float: left;
        display: block;
    }
    span {
        display: block;
        float: left;
        font-size: 11px;
        text-transform: uppercase;
        line-height: 9px;
        margin-left: 10px;
        color: #a2d3f8;
        b {
            display: block;
            margin: 2px 0 3px 0;
            font-weight: 700;
        }
    }
}
.sidebar-nav > ul {
    border-bottom: 1px solid #373b4c;
}
.sidebar-nav > ul {
    > li {
        display: block;
        width: 100%;
        border-bottom: 1px solid #2e303c;
        border-top: 1px solid #373b4c;
        min-height: 50px;
        &:first-child {
            border-top: 0;
        }
        > a {
            height: 50px;
            padding-left: 10px;
            line-height: 50px;
            display: block;
            color: #b3b6c7;
            text-decoration: none;
            font-size: 15px;
            font-weight: 600;
            @include trans-small;
            i {
                width: 30px;
                text-align: center;
                margin-right: 5px;
            }
            &:hover {
                color: #fff;
                padding-left: 15px;
            }
        }
    }
    > li.sidebar-nav-selected {
        border-left: 2px solid #e7555f;
        background: #2e303c;
        > a {
            color: #fff;
            @include trans-none;
            &:hover {
                padding-left: 10px;
            }
        }
    }
}

.sidebar-nav-groups {
    font-size: 12px;
    border-left: 1px solid #4b4d5b;
    margin-left: 25px;
    margin-bottom: 10px;
    > li {
        color: #b3b6c7;
        min-height: 24px;
        line-height: 24px;
        padding-left: 10px;
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 9px;
            left: -4px;
            width: 5px;
            height: 5px;
            border-radius: 3px;
            background-color: #2e303c;
            border: 1px solid #4b4d5b;
        }
        a {
            color: #b3b6c7;
            display: block;
            width: 160px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
                color: #fff;
            }
        }
    }
    > li.sidebar-nav-groups-selected {
        color: #fff;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 9px;
            left: -4px;
            width: 5px;
            height: 5px;
            border-radius: 3px;
            background-color: #fff;
            border: 1px solid #fff;
        }
        > a {
            color: #fff;
            display: block;
            width: 140px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.sidebar-nav-subgroups {
    border-left: 1px solid #4b4d5b;
    margin: 10px 0 10px 5px;
    > li {
        padding-left: 10px;
        height: 24px;
        line-height: 24px;
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 9px;
            left: -4px;
            width: 5px;
            height: 5px;
            border-radius: 3px;
            background-color: #2e303c;
            border: 1px solid #4b4d5b;
        }
        a {
            width: 135px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    > li.sidebar-nav-subgroups-selected {
        color: #fff;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 9px;
            left: -4px;
            width: 5px;
            height: 5px;
            border-radius: 3px;
            background-color: #fff;
            border: 1px solid #fff;
        }
        > a {
            color: #fff;
            display: block;
            width: 140px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}



.copy-footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 11px;
    color: #909196;
    a {
        color: #909196;
        text-decoration: underline;
        @include trans-small;
        &:hover {
            color: #fff;
        }
    }
}
.mh-search {
    float: left;
    margin-top: 10px;
    opacity: .4;
    @include trans-small;
    &:hover {
        opacity: 1;
    }
}
.mh-search input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #323543;
    font-size: 14px;
    color: #2a2c39;
    width: 180px;
    padding-bottom: 5px;
    &::-webkit-input-placeholder {
       font-size: 14px;
       color: #2a2c39;
    }
    &:focus::-webkit-input-placeholder {
        color: #ccc;
    }
    &:-moz-placeholder { /* Firefox 18- */
       font-size: 14px;
       color: #2a2c39;
    }
    &:focus:-moz-placeholder {
        color: #ccc;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
       font-size: 14px;
       color: #2a2c39;
    }
    &:focus::-moz-placeholder {
        color: #ccc;
    }
    &:-ms-input-placeholder {
       font-size: 14px;
       color: #2a2c39;
    }
    &:focus:-ms-input-placeholder {
        color: #ccc;
    }
}
.mh-search-submit {
    border: 0;
    background: transparent;
    position: relative;
    left: -25px;
    color: #2a2c39;
    @include trans-small;
    &:hover {
        color: #e7555f;
    }
}

.button-logout {
    float: right;
    display: block;
    background: #323543;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    margin-top: 12px;
    color: #fff;
    font-size: 12px;
    padding: 0 12px;
    @include trans-small;
    .fa {
        margin-right: 4px;
    }
    &:hover {
        background: #e7555f;
    }
}

.soon {
    margin: 0 20px 20px 20px;
    font-size: 36px;
    font-weight: 300;
    opacity: .2;
}

.page-title {
    margin: 0 0 20px 20px;
    font-size: 28px;
    font-weight: 600;
    line-height: 18px;
}
.c-block .page-title {
    margin: 0;
}
.group .page-title {
    float: left;
}
.btn-add {
    display: inline-block;
    background: #3498db;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    @include trans-small;
    i {
        margin-right: 6px;
    }
    &:hover {
        background: #2980b9;
    }
}
.group .btn-add {
    float: right;
    margin-top: -5px;
}
.tab-title .btn-add {
    float: right;
    margin-top: 7px;
    margin-right: 7px;
    background: #fff;
    color: #3498db;
    text-transform: none;
    letter-spacing: normal;
    &:hover {
        background: #c8d5e5;
        color: #6889aa;
    }
}

.c-block {
    margin: 0 20px 20px 20px;
}

.main-table {
    width: 100%;
    thead {
        background: #c8d5e5;
        height: 26px;
        line-height: 26px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        th {
            color: #6889aa;
            font-size: 11px;
            font-weight: 400;
        }
        tr {
            border-bottom: none;
            height: 26px;
            line-height: 26px;
        }
    }
    tr {
        border-bottom: 1px solid #eaecf7;
        height: 40px;
        line-height: 40px;
    }
    tbody tr:hover {
        background: #fcfaff;
        // .td-name a {
        //     color: #8793a1;
        // }
    }
    tbody tr.odg-row:hover {
        background: lighten(#c8d5e5,7%);
    }
    .td-name {
        color: #9da6bc;
        font-size: 14px;
        font-weight: 600;
        border-right: 1px solid #eaecf7;
        a {
            color: #737d8a;
            display: block;
            height: 40px;
        }
        em {
            text-transform: uppercase;
            font-size: 10px;
            opacity: .5;
            margin-right: 5px;

        }
    }
    .td-mails {
        color: #9da6bc;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.3;
        padding-top: 10px;
        padding-bottom: 12px;
    }
    .td-filter {
        color: #9da6bc;
        line-height: 1;
        padding-top: 10px;
        padding-bottom: 15px;
    }
    .filter-name {
        font-weight: 600;
        font-size: 18px;
        color: #7d8495;
    }
}


// .prijava-table {
//     border-collapse: collapse;
// }
.prijava-pravna-table tr {
    border-bottom: none;
    // height: 40px;
    // line-height: 40px;
    &.odg-row {
        border-bottom: 1px solid #6889aa;
    }
}
.td-action {
    padding-left: 20px;
    vertical-align: middle;
}

.tab-title {
    width: 100%;
    background-color: #6889aa;
    text-align: left;
    height: 44px;
    letter-spacing: 0.2em;
    line-height: 44px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    padding-left: 20px;
    text-transform: uppercase;
}

.th-left, .td-left {
    text-align: left;
    padding-left: 20px;
}

.td-prijava {
    padding-left: 20px;
    line-height: 1.2;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    font-size: 14px;
    color: #737d82;
    b {
        font-weight: bold;
    }
}
.odg-field {
    color: #737d82;
    padding-left: 20px;
    line-height: 1.3;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    h3 {
        text-transform: uppercase;
        font-size: 12px;
        margin-bottom: 4px;
    }
}
.odg-row {
    background: lighten(#c8d5e5,10%);
}
.odglica {
    margin-left: 12px;
    li {
        list-style-type: decimal;
        margin-bottom: 4px;
        &:last-child {
            margin-bottom: 0;
        }
        span {
            display: inline-block;
            margin-right: 10px;
        }
    }
}

.th-action {
    width: 250px;
    text-align: left;
    padding-left: 20px;
    border-left: 1px solid #b6bad2;
}

.act-btn {
    display: inline-block;
    background: #3d566e;
    border-radius: 3px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    font-size: 11px;
    padding: 0 10px;
    position: relative;
    top: -1px;
    text-transform: uppercase;
    margin-right: 5px;
    @include trans-small;
    &:hover {
        background: #323543;
    }
    .fa {
        margin-right: 6px;
    }
}

.del-btn {
    background: #e7555f;
    &:hover {
        background: #c0392b;
    }
}

.move-btn {
    display: inline-block;
    border-left: 1px solid #eaecf7;
    height: 24px;
    line-height: 24px;
    color: #a4acd6;
    font-size: 12px;
    padding: 0 10px;
    position: relative;
    text-align: right;
    top: 8px;
    right: 0;
    text-transform: uppercase;
    float: right;
    &:hover {
        color: #6a708f;
    }
}


/* forms: */

.cb-title {
    font-size: 11px;
    color: #5c5d55;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.15em;
    margin-bottom: 10px;
    i {
        display: inline-block;
        float: right;
        opacity: .7;
        text-transform: uppercase;
        &:before {
            content:"";
            width: 16px;
            height: 12px;
            display: inline-block;
            background: transparent url(../img/en.gif) no-repeat top left;
            position: relative;
            top: 2px;
            margin-right: 5px;
        }
    }
}

.md-content .txtinput {
    max-width: 100%;
}

.form-helper {
    font-size: 12px;
    opacity: .4;
    .fa {
        margin-right: 5px;
    }
}
.form-helper-important {
    opacity: 1;
    color: orange;
}
.form-bottom {
    text-align: center;
    margin-top: 20px;
}
.txtinput {
    background: #f6f7fb;
    border: 1px solid #dde0ee;
    border-radius: 3px;
    display: block;
    width: 100%;
    padding: 15px 15px 15px 18px;
    font-weight: 400;
    color: #222;
    font-size: 12px;
    letter-spacing: 0.15em;
    max-width: 70%;
    &:disabled {
        background: #fff;
    }
}
.txtinput:focus {
    border: 1px solid #c7c8c3;
}
.txtarea {
    background: #f6f7fb;
    border: 1px solid #dde0ee;
    border-radius: 3px;
    display: block;
    width: 100%;
    padding: 15px 15px 15px 18px;
    font-weight: 400;
    color: #222;
    font-size: 12px;
    letter-spacing: 0.15em;
    &:disabled {
        background: #fff;
    }
}
.txtarea:focus {
    border: 1px solid #c7c8c3;
}

.btn-add-large {
    display: inline-block;
    background: #3498db;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    padding: 0 18px;
    height: 40px;
    line-height: 40px;
    border: 0;
    @include trans-small;
    i {
        margin-right: 6px;
    }
    &:hover {
        background: #2980b9;
    }
}

.btn-del-large {
    display: inline-block;
    background: #e7555f;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    padding: 0 18px;
    height: 40px;
    line-height: 40px;
    border: 0;
    @include trans-small;
    i {
        margin-right: 6px;
    }
    &:hover {
        background: #c0392b;
    }
}

.are-sure {
    font-size: 18px;
    padding-bottom: 15px;
    font-weight: 300;
}

.breadcrumbs {
    margin: -8px 0 15px 20px;
    font-size: 12px;
    li {
        display: inline-block;
        padding-right: 3px;
        a {
            color: #3498db;
            &:after {
                display: inline-block;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                content: "\f105";
                font-size: 10px;
                padding-left: 5px;
            }
            &:hover {
                color: #2a2a2a;
            }
        }
    }
}

.edit-pop {
    display: inline-block;
    background: #c8d5e5;
    border-radius: 3px;
    height: 22px;
    line-height: 22px;
    color: #55708b;
    font-size: 11px;
    padding: 0 7px;
    position: relative;
    top: -5px;
    text-transform: uppercase;
    @include trans-small;
    margin-left: 4px;
    &:hover {
        background: #323543;
        color: #fff;
    }
}

.tab-container {
    border: 1px solid #6889aa;
}
.tab-header {
    height: 44px;
    line-height: 44px;
    background: #fff;
    border-bottom: 1px solid #6889aa;
    padding: 0 20px;
    margin-bottom: 20px;
}
.tab-1-2 {
    width: 50%;
    float: left;
    text-align: center;
    color: #9ba6b4;
    background: #fafafa;
    position: relative;
    top: -1px;
    &:hover {
        color: #2a2a2a;
    }
}
.tab-1-3 {
    width: 33.333333333%;
    float: left;
    text-align: center;
    color: #9ba6b4;
    background: #fafafa;
    position: relative;
    top: -1px;
    &:hover {
        color: #2a2a2a;
    }
}
.tab-active {
    background: #fff;
    color: #2a2a2a;
    font-weight: 700;
    border: 1px solid #6889aa;
    border-bottom: 0;
    position: relative;
    top: -1px;
}

.f-block {
    margin: 0 0 20px 0;
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid #eef1f4;
}
.f-block-top {
    border-top: 1px solid #eef1f4;
    padding-top: 20px;
}

.fi-1-1 {
    width: 100%;
    position: relative;
}

.fi-1-2 {
    width: 50%;
    padding-right: 10px;
    float: left;
    position: relative;
    .txtinput {
        max-width: 100%;
    }
}
.fi-1-3 {
    width: 33.33333333333333%;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    position: relative;
    .txtinput {
        max-width: 100%;
    }
}

.f-half {
    .txtinput {
        max-width: 50%;
    }
}

.f-block .fi-1-2:last-child {
    float: right;
    padding-right: 0;
    padding-left: 10px;
}

.f-block .fi-1-2:only-child {
    float: left;
    padding-left: 0;
    padding-right: 10px;
}

.show-check {
    font-size: 11px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    input {
        margin-right: 5px;
    }
}

span.txtinput {
    background: white;
}


.selectbox {
    width: auto;
    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
}
.selectbox select {
    background: #f6f7fb;
    border: 1px solid #dde0ee;
    border-radius: 3px;
    color: #aaaba6;
    font-size: 12px;
    letter-spacing: 0.15em;
    display: block;
    width: 100%;
    padding: 15px 15px 15px 18px;
    color: #aaaba6;
    -webkit-appearance: none;
    min-width: 100%;
}

// .selectbox select:focus {
//     outline: 0;
//     border: 1px solid #c7c8c3;
// }


.selectbox:after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f063";
    position: absolute;
    height: 34px;
    line-height: 34px;
    top: 25px;
    margin-top: -16px;
    right: 0;
    padding-right: 15px;
    font-size: 18px;
    color: #aaaba6;
}

.form-sign {
    font-size: 18px;
    position: absolute;
    top: 35px;
    right: 15px;
    color: #aaaba6;
    font-weight: 700;
    margin-right: 5px;
    pointer-events: none;
}

.popust-window {
    padding-top: 10px;
}

.chosen-img {
  display: block;
  width: 200px;
  margin-bottom: 20px;
}
.chosen-img:hover {
    opacity: .8;
}
.chosen-img img {
    max-width: 100%;
    max-height: 190px;
}

.option-half {
    width: 50%;
    float: left;
    display: block;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #6b6e7f;
    input {
        margin-right: 4px;
    }
    .fa {
        font-size: 32px;
        display: block;
    }
}

// .spec-item {
//     label {
//         float: left;
//         width: 250px;
//     }
//     .txtinput {
//         width: 100%;
//         max-width: 100%;
//         margin-left: 280px;
//     }
// }


.spec-items {
    width: 60%;
}
.spec-item {
    height: 45px;
    line-height: 45px;
    padding-right: 10px;
}
.spec-items .spec-item:nth-child(even) {
   background-color: rgba(0,0,0,.02);
}
.spec-item label {
    width: 50%;
    float: left;
    height: 45px;
    line-height: 45px;
    font-size: 12px;
    padding-left: 10px;
    color: rgba(0,0,0,.5)
}
.spec-item .txtinput {
    width: 50%;
    float: right;
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 10px;
    margin-top: 7px;
}
.spec-item .selectbox {
    width: 50%;
    float: right;
    height: 30px;
    line-height: 30px;
    padding-left: 0;
    margin-top: 7px;
}
.spec-item .chosen-container {
    width: 50% !important;
}
.spec-item .selectbox select {
    min-width: 100%;
    padding: 6px 15px 5px 12px;
}

.spec-item .selectbox:after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f063";
    position: absolute;
    height: 34px;
    line-height: 34px;
    top: 15px;
    margin-top: -16px;
    right: 0;
    padding-right: 10px;
    font-size: 14px;
    color: #aaaba6;
    pointer-events: none;
}

.med-submit {
    display: inline-block;
    background: #3498db;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 20px;
    height: 40px;
    line-height: 30px;
    max-width: 500px;
    margin: 10px auto 10px auto;
    border: 0;
    @include trans-small;
    i {
        margin-right: 6px;
    }
    &:hover {
        background: #2980b9;
    }
}

.big-submit {
    display: block;
    background: #3498db;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    padding: 0 12px;
    height: 50px;
    line-height: 40px;
    width: 500px;
    margin: 30px auto 30px auto;
    border: 0;
    @include trans-small;
    i {
        margin-right: 6px;
    }
    &:hover {
        background: #2980b9;
    }
}

.ckeditor-outer {
    width: 60%;
    > textarea {
        min-height: 280px;
    }
}

.fi-1-2 .ckeditor-outer {
    width: 100%;
}

.filter-values {
    margin-top: 7px;
    li {
        padding-left: 8px;
        display: inline-block;
        background: #9da6bc;
        height: 22px;
        font-size: 12px;
        line-height: 22px;
        cursor: default;
        margin-right: 4px;
        color: #fff;
        cursor: move;
    }
}
.filter-value-del {
    background: rgba(0,0,0,.2);
    margin-left: 0;
    display: inline-block;
    width: 20px;
    text-align: center;
    color: #fff;
    &:hover {
        background: rgba(0,0,0,.4);
    }
    .fa {
        position: relative;
    }
}
.filter-value-edit {
    background: rgba(0,0,0,.2);
    margin-left: 8px;
    display: inline-block;
    width: 20px;
    text-align: center;
    color: #fff;
    border-right: 1px solid #9da6bc;
    &:hover {
        background: rgba(0,0,0,.4);
    }
    .fa {
        position: relative;
    }
}
.content-blank {
    p {
        font-size: 22px;
        font-weight: 300;
        text-align: center;
        color: #a9a9a9;
    }
}

.filter-add-value {
    padding-left: 4px;
    display: inline-block;
    background: #3498db;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    margin-right: 4px;
    margin-top: 8px;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    &:hover {
        background: #2980b9;
    }
    .fa {
        background: rgba(0,0,0,.2);
        margin-left: 4px;
        display: inline-block;
        width: 20px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        color: #fff;
        padding-top: 1px;
    }
}

.show-hide-menu {
    color: #fff;
    position: absolute;
    top: 18px;
    right: 15px;
    display: none;
}

.sync-container {
    margin: 0 20px 20px 20px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 15px;
}

.sync-time {
    color: #bbb;
    display: block;
    margin-top: 10px;
    font-size: 12px;
    text-transform: uppercase;
    b {
        font-weight: 600;
        font-size: 16px;
        display: block;
    }
}

.stats-container {
    width: 100%;
    max-width: 700px;
    margin-bottom: 40px;
    iframe {
        width: 100%;
    }
}

.admin-gal {
    li {
        display: block;
        width: 140px;
        height: 100px;
        overflow: hidden;
        float: left;
        margin: 0 10px 10px 0;
        position: relative;
        img {
            display: block;
            width: 100%;
        }
        span {
            display: none;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255,.9);
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            font-size: 20px;
            line-height: 90px;
            a {
                color: #323543;
                margin-left: 14px;
                &:hover {
                    color: #3498db;
                }
            }
            a:first-child {
                margin-left: 0;
            }
        }
        &:hover span {
            display: block;
        }
    }
}
.copy-text {
    background: #081A23;
    color: #fff;
    padding: 10px;
    h3 {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    input {
        border: none;
        width: 300px;
        font-family: 'Source Sans Pro', Helvetica, Arial, serif;
        background: #fff;
        padding: 5px;
        font-size: 11px;
    }
    p {
        font-weight: 300;
        font-size: 13px;
    }
}

.admin-letak-gal {
    li {
        width: 150px;
        height: 211px;
    }
}

.news-thumb-img {
    max-width: 65px;
    margin-bottom: 20px;
    display: block;
}

.search-groups-admin {
    li {
        display: inline-block;
        a {
            display: inline-block;
            color: #00ace5;
            font-size: 14px;
            padding: 5px 8px;
            margin-right: 3px;
            margin-bottom: 5px;
            background-color: #fff;
            @include window;
            &:hover {
                background: #00ace5;
                color: #fff;
            }
        }
    }
    margin-bottom: 14px;
}
.main-content > form {
    padding-bottom: 10px;
}
.brands-admin-img {
    max-width: 100%;
    margin-bottom: 20px;
}
.brands-admin-img-small {
    max-width: 50%;
    margin-bottom: 20px;
}