@include max-screen(860px) {

    .move-btn {
        display: none;
    }

    .main-table tr {
        height: auto;
        line-height: normal;
        vertical-align: middle;
        td {
            vertical-align: middle;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .th-action {
            width: 180px;
        }
        .td-name a {
            display: inline;
        }
    }

    .f-block .fi-1-2 {
        float: none;
        width: 100%;
        display: block;
        padding-right: 0;
    }
    .f-block .fi-1-2:last-child {
        float: none;
        padding-left: 0;
        padding-top: 10px;
    }
    .f-block .fi-1-2:only-child {
        padding-right: 0;
    }

    .show-check {
        top: 10px;
    }

    .ckeditor-outer {
        width: 100%;
    }

    .spec-items {
        width: 100%;
    }

    .form-sign {
        top: 45px;
    }

}


@include max-screen(590px) {

    html, body {
        background: #fff;
    }

    .sidebar-nav-groups {
        display: none;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: static;

    }
    .main {
        min-height: 50px;
        margin-left: 0;
    }

    .sidebar-nav {
        display: none;
    }

    .show-hide-menu {
        display: block;
    }

    .mh-search input {
        width: 140px;
    }

    .main-table tr {
        .th-action {
            width: 100px;
        }
    }

    .act-btn {
        width: 30px;
        overflow: hidden;
        i {
            padding-right: 30px;
        }
    }
    .group .page-title {
        float: none;
        line-height: 1.1;
    }
    .group .btn-add {
        float: none;
        margin-top: 20px;
    }

    .edit-pop {
        display: block;
        top: 0;
        margin-top: 10px;
        text-align: center;
        height: 32px;
        line-height: 32px;
        margin-left: 0;
        &:after {
            content: " izmeni";
        }
    }

    .txtinput {
        max-width: 100%;
    }

    .big-submit {
        width: 90%;
    }

    .login-window {
        width: 95%;
    }

    .login-page .show-hide-menu {
        display: none;
    }

}

@include min-screen(591px) {
    .sidebar-nav {
        display: block !important;
    }
}