/*
	CSS overwriting Sass goes here (use only if emergency)
*/

.site-slogan {
	display: none;
}
.site-logo a {
	background: #fff;
	padding: 7px 7px;
}
.site-logo a img {
	width: 50px;
	height: 59px;
}
.site-logo a:hover {
	background: #fff;
}