<div id="pageflip-controls">
	<div class="left-buttons">
		<div id="b-twitter" class="control-bar-button" title="Share on Twitter"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="26px" height="26px" viewBox="0 0 26 26" enable-background="new 0 0 26 26" xml:space="preserve">
<g>
<path d="M22.218,7.761c-0.641,0.284-1.331,0.477-2.055,0.563c0.739-0.442,1.306-1.144,1.573-1.979
	c-0.691,0.41-1.457,0.708-2.272,0.868c-0.652-0.696-1.582-1.13-2.611-1.13c-1.976,0-3.578,1.602-3.578,3.578
	c0,0.28,0.032,0.553,0.092,0.815c-2.973-0.149-5.608-1.573-7.374-3.738C5.688,7.267,5.511,7.881,5.511,8.537
	c0,1.241,0.632,2.336,1.591,2.977c-0.586-0.019-1.138-0.179-1.62-0.447c0,0.015,0,0.03,0,0.045c0,1.733,1.233,3.179,2.87,3.508
	c-0.3,0.082-0.616,0.125-0.942,0.125c-0.23,0-0.455-0.022-0.673-0.064c0.455,1.422,1.776,2.456,3.342,2.485
	c-1.225,0.959-2.767,1.531-4.443,1.531c-0.289,0-0.574-0.017-0.854-0.049c1.583,1.015,3.463,1.606,5.483,1.606
	c6.58,0,10.179-5.451,10.179-10.178c0-0.155-0.004-0.31-0.011-0.463C21.132,9.108,21.739,8.478,22.218,7.761z"/>
</g>
</svg></div>
		<div id="b-google" class="control-bar-button" title="Share on Google+"><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26" xml:space="preserve">
<g>
	<path d="M24.821,8.142v1.054h-2.789v2.79h-1.055v-2.79h-2.788V8.142h2.788V5.353h1.055v2.789H24.821z
		 M16.998,16.343c0,1.632-1.517,3.284-4.415,3.284c-2.66,0-4.591-1.139-4.591-2.709c0-1.78,2.021-3.284,4.414-3.284
		c0.121,0,0.237-0.001,0.351-0.003c-0.248-0.324-0.369-0.659-0.369-1.015c0-0.2,0.039-0.406,0.117-0.615c-0.039,0-0.079,0-0.119,0
		c-2.006,0-3.462-1.392-3.462-3.31c0-1.747,1.873-3.338,3.93-3.338h4.861l-1.458,1.055h-0.785C16.05,6.904,16.4,7.746,16.4,8.719
		c0,0.894-0.457,1.743-1.285,2.391c-0.696,0.544-0.759,0.722-0.759,1.092c0,0.252,0.569,0.85,1.059,1.195
		C16.569,14.212,16.998,15.011,16.998,16.343z M12.818,14.393c-1.552,0-2.914,0.964-2.914,2.062c0,1.192,1.173,2.126,2.671,2.126
		c1.963,0,2.958-0.694,2.958-2.062c0-0.131-0.017-0.267-0.049-0.404c-0.142-0.553-0.612-0.873-1.323-1.357l-0.306-0.209
		c-0.317-0.1-0.652-0.152-0.995-0.156H12.818z M10.83,8.66c0.18,1.373,1.161,2.514,2.186,2.544c0.001,0,0.002,0,0.003,0
		c0.417,0,0.754-0.157,1.014-0.454c0.396-0.451,0.565-1.152,0.464-1.924c-0.178-1.351-1.16-2.475-2.188-2.506l-0.042,0
		c-0.385,0-0.726,0.157-0.987,0.455C10.894,7.214,10.73,7.901,10.83,8.66z"/>
</g>
</svg></div>
		<div id="b-facebook" class="control-bar-button" title="Share on Facebook"><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26" xml:space="preserve">
<g>
	<path d="M14.064,20.656h-3.379V12.49H8.997V9.675h1.688v-1.69c0-2.295,0.954-3.661,3.661-3.661h2.254v2.815h-1.408
		c-1.055,0-1.125,0.394-1.125,1.127l-0.003,1.409h2.554l-0.3,2.814h-2.254V20.656z"/>
</g>
</svg></div>
		<div id="b-pinterest" class="control-bar-button" title="Pin it!"><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26" xml:space="preserve">
<g>
	<path d="M11.467,14.991c-0.383,1.679-0.759,3.298-1.579,4.575
		c-0.25,0.39-0.503,0.882-0.931,1.093c-0.635-3.26,0.688-6.005,1.214-8.745c-0.669-1.36-0.253-3.667,1.175-3.927
		c2.07-0.379,1.525,2.118,1.174,3.279c-0.192,0.636-0.54,1.245-0.486,1.944c0.114,1.472,1.967,1.566,2.914,0.81
		c1.36-1.085,1.752-3.179,1.62-4.899c-0.202-2.619-3.169-3.922-5.788-2.875c-1.35,0.54-2.576,1.78-2.754,3.603
		c-0.094,0.96,0.107,1.727,0.485,2.268c0.058,0.082,0.255,0.227,0.283,0.446c0.06,0.444-0.204,0.923-0.444,1.254
		c-1.343-0.387-2.035-1.592-2.146-3.116C5.951,7.23,8.799,4.59,12.154,4.344c3.578-0.263,6.417,1.804,6.68,4.817
		c0.195,2.24-0.598,4.496-1.861,5.708c-0.948,0.912-2.966,1.803-4.615,0.932C11.992,15.607,11.83,15.371,11.467,14.991z"/>
</g>
</svg></div>
	</div>
	<div class="right-buttons">
		<!--<div id="b-close" class="control-bar-button right" title="Close"><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="22px" height="26px" viewBox="0 0 22 26" xml:space="preserve">
<g>
	<polygon points="17.479,8.5 15.5,6.52 11,11.02 6.5,6.52 4.52,8.5 9.02,13 4.52,17.5 6.5,19.479 11,14.979 15.5,19.479 
		17.479,17.5 12.979,13 	"/>
</g>
</svg></div>-->
		<div id="b-fullscreen" class="control-bar-button right" title="Fullscreen On/Off"><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px" height="26px" viewBox="0 0 22 26" xml:space="preserve"><g><path d="M5.368,12.116v4.346h5.969v-4.346H5.368z M17,16c0,1.104-0.896,2-2,2H6c-1.104,0-2-0.896-2-2v-6c0-1.104,0.896-2,2-2h9 c1.104,0,2,0.896,2,2V16z"/></g></svg></div>
		<div id="b-fullscreenoff" class="control-bar-button right"title="Fullscreen On/Off" style="display: none;"><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px" height="26px" viewBox="0 0 22 26" xml:space="preserve"><g><path d="M5.368,9.538v3.351h5.882v3.573h4.382V9.538H5.368z M17,16c0,1.104-0.896,2-2,2H6c-1.104,0-2-0.896-2-2v-6 c0-1.104,0.896-2,2-2h9c1.104,0,2,0.896,2,2V16z"/></g>
</svg></div>
		<div id="b-thumbs" class="control-bar-button right" title="Thumbnails"><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="22px" height="26px" viewBox="0 0 22 26" xml:space="preserve">
<g>
	<rect x="3" y="7" width="3.3" height="3.3"/>
	<rect x="3" y="11" width="3.3" height="3.3"/>
	<rect x="3" y="15" width="3.3" height="3.3"/>
	<rect x="7" y="7" width="3.3" height="3.3"/>
	<rect x="7" y="11" width="3.3" height="3.3"/>
	<rect x="7" y="15" width="3.3" height="3.3"/>
	<rect x="11" y="7" width="3.3" height="3.3"/>
	<rect x="11" y="11" width="3.3" height="3.3"/>
	<rect x="11" y="15" width="3.3" height="3.3"/>
	<rect x="15" y="7" width="3.3" height="3.3"/>
	<rect x="15" y="11" width="3.3" height="3.3"/>
</g>
</svg></div>
		<!--<div id="b-index" class="control-bar-button right" title="Table of Contents"><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="22px" height="26px" viewBox="0 0 22 26" xml:space="preserve">
<g>
	<circle cx="4.5" cy="9" r="1.5"/>
	<rect x="7" y="8" width="11" height="1.5"/>
	<circle cx="4.5" cy="13" r="1.5"/>
	<rect x="7" y="12" width="11" height="1.5"/>
	<circle cx="4.5" cy="17" r="1.5"/>
	<rect x="7" y="16" width="11" height="1.5"/>
</g>
</svg>
</div>
		<div id="b-download" class="control-bar-button right" title="Download printable .pdf version"><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="22px" height="26px" viewBox="0 0 22 26" xml:space="preserve">
<g>
	<path d="M2.75,17.889c0,0,4.35-2.535,7.25,0V9.016c-2.9-2.535-7.25,0-7.25,0V17.889z"/>
	<path d="M18.25,17.889c0,0-4.352-2.535-7.25,0V9.016c2.898-2.535,7.25,0,7.25,0V17.889z"/>
</g>
</svg></div>
		<div id="b-info" class="control-bar-button right" title="Info"><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="22px" height="26px" viewBox="0 0 22 26" xml:space="preserve">
<g>
	<circle cx="10.5" cy="8" r="1.5"/>
	<polygon points="7,10.5 7,11.5 9,11.5 9,16.5 7,16.5 7,17.5 14,17.5 14,16.5 12,16.5 12,10.5 	"/>
</g>
</svg>
</div>
		<div id="b-sound" class="control-bar-button right" title="Sound On/Off" style="display: none;"><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="22px" height="26px" viewBox="0 0 22 26" xml:space="preserve">
<g>
	<g>
		<polygon points="4,11 4,16 7,16 10,19 10,8 7,11 		"/>
	</g>
	<g>
		<path d="M14.885,20.165l-0.813-0.517l0.259-0.407c1.116-1.757,1.707-3.742,1.707-5.741s-0.591-3.984-1.707-5.742l-0.259-0.407
			l0.813-0.517l0.258,0.407C16.358,9.154,17,11.318,17,13.5c0,2.183-0.642,4.347-1.857,6.259L14.885,20.165z"/>
	</g>
	<g>
		<path d="M13.285,19.107l-0.828-0.494l0.247-0.414c0.885-1.48,1.333-3.062,1.333-4.699s-0.448-3.219-1.333-4.699l-0.247-0.414
			l0.828-0.494l0.247,0.414C14.506,9.938,15,11.686,15,13.5c0,1.814-0.494,3.562-1.468,5.193L13.285,19.107z"/>
	</g>
	<g>
		<path d="M11.692,18.048l-0.846-0.462l0.231-0.423c0.637-1.166,0.96-2.398,0.96-3.663c0-1.264-0.323-2.497-0.96-3.663l-0.231-0.423
			l0.846-0.462l0.231,0.423C12.638,10.685,13,12.072,13,13.5s-0.362,2.815-1.077,4.124L11.692,18.048z"/>
	</g>
</g>
</svg></div>
		<div id="b-soundoff" class="control-bar-button right"title="Sound On/Off" ><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="22px" height="26px" viewBox="0 0 22 26" xml:space="preserve">
<g>
	<polygon points="4,11 4,16 7,16 10,19 10,8 7,11 	"/>
	<polygon points="17.047,11.039 16.252,10.244 14.126,12.37 12,10.244 11.205,11.039 13.331,13.165 11.205,15.291 12,16.086 
		14.126,13.96 16.252,16.086 17.047,15.291 14.921,13.165 	"/>
</g>
</svg></div>-->
		<div id="b-play" class="control-bar-button right" title="Auto Flipping"><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="22px" height="26px" viewBox="0 0 22 26" xml:space="preserve">
<g>
	<polygon points="5,8 17,13 5,18 	"/>
</g>
</svg>
</div>
		<div id="b-pause" class="control-bar-button right" title="Stop Auto Flipping" style="display: none;"><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="22px" height="26px" viewBox="0 0 22 26" xml:space="preserve">
<g>
	<path d="M10,16c0,1.104-0.896,2-2,2H7c-1.104,0-2-0.896-2-2v-6c0-1.104,0.896-2,2-2h1c1.104,0,2,0.896,2,2V16z"/>
	<path d="M17,16c0,1.104-0.896,2-2,2h-1c-1.104,0-2-0.896-2-2v-6c0-1.104,0.896-2,2-2h1c1.104,0,2,0.896,2,2V16z"/>
</g>
</svg>
</div>
		<div id="b-zoomin" class="control-bar-button right" title="Zoom In"><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26" xml:space="preserve">
<g>
	<path d="M22.09,21.01l-4.643-4.641c0.609-0.98,0.967-2.133,0.967-3.369c0-3.537-2.877-6.414-6.414-6.414
	c-3.535,0-6.414,2.877-6.414,6.414c0,3.535,2.879,6.414,6.414,6.414c1.288,0,2.485-0.385,3.491-1.041l4.618,4.617L22.09,21.01z
	 M13,17h-2v-3H8v-2h3V9h2v3h3v2h-3V17z"/>
</g>
</svg></div>
		<div id="b-zoomout" class="control-bar-button right" title="Zoom Out" style="display: none;"><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26" xml:space="preserve">
<g>
	<path d="M22.09,21.01l-4.643-4.641c0.609-0.98,0.967-2.133,0.967-3.369c0-3.537-2.877-6.414-6.414-6.414
	c-3.535,0-6.414,2.877-6.414,6.414c0,3.535,2.879,6.414,6.414,6.414c1.288,0,2.485-0.385,3.491-1.041l4.618,4.617L22.09,21.01z
	 M8,14v-2h8v2H8z"/>
</g>
</svg>
</div>
	</div>
	<div class="centered-buttons">
		<div id="b-first" class="control-bar-button disabled"><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26" xml:space="preserve">
<g>
	<polygon points="9,13 17,21 19,19 13,13 19,7 17,5 	"/>
	<rect x="6.2" y="6" width="2.8" height="14"/>
</g>
</svg></div>
		<div id="b-prev" class="control-bar-button disabled"><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26" xml:space="preserve">
<g>
	<polygon points="7,13 17,23 19,21 11,13 19,5 17,3 	"/>
</g>
</svg></div>
		<form id="pfpager" class="control-bar-pager">
			<input type="text" name="pagerin" id="pagerin">
		</form>
		<div id="b-next" class="control-bar-button disabled"><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26" xml:space="preserve">
<g>
	<polygon points="20,13 10,23 8,21 16,13 8,5 10,3 	"/>
</g>
</svg>
</div>
		<div id="b-last" class="control-bar-button disabled"><svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="26px" height="26px" viewBox="0 0 26 26" xml:space="preserve">
<g>
	<polygon points="17,13 9,21 7,19 13,13 7,7 9,5 	"/>
	<rect x="17" y="6" width="2.8" height="14"/>
</g>
</svg></div>
	</div>
	<div id="copyright-text">&copy;2014 pageflip-books.com</div>
	<div class="pageflip-credits">Powered by <a href="http://pageflip-books.com" target="_blank">Pageflip 5</a></div>
</div>
