/* additional non-sass styles go here */

.copy-footer {
    display: none;
}
.sidebar-nav-subgroups>li {
	height: auto;
}

.status-done {
	opacity: 0.6;
	-webkit-linear-gradient(left, lightgrey , white);
	background: -o-linear-gradient(right, lightgrey, white);
	background: -moz-linear-gradient(right, lightgrey, white);
	background: linear-gradient(to right, lightgrey , white);
}
