@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/icomoon.eot?k5w46q');
    src:url('../fonts/icomoon/icomoon.eot?#iefixk5w46q') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.woff?k5w46q') format('woff'),
        url('../fonts/icomoon/icomoon.ttf?k5w46q') format('truetype'),
        url('../fonts/icomoon/icomoon.svg?k5w46q#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\e600";
}

.icon-menu:before {
    content: "\e601";
}

.icon-arrow-left-big:before {
    content: "\e602";
}

.icon-arrow-left:before {
    content: "\e603";
}

.icon-search:before {
    content: "\e604";
}

.icon-arrow-right:before {
    content: "\e605";
}

.icon-arrow-right-big:before {
    content: "\e606";
}

.icon-twitter:before {
    content: "\e607";
}

.icon-facebook:before {
    content: "\e608";
}

.icon-arrow-down:before {
    content: "\e609";
}

.icon-house:before {
    content: "\e60a";
}

.icon-tag:before {
    content: "\e60b";
}

.icon-file-pdf:before {
    content: "\e60c";
}

.icon-envelope:before {
    content: "\e60d";
}
.icon-zoom-in:before {
    content: "\e900";
}