.switch-container {
	margin: 0 auto;
	float: left;
}
.switch {
	position: relative;
	height: 40px;
	width: auto;
	margin: 0px 0 20px 0;
	background: #f3f5f7;
	border: 1px solid #016b9e;
	border-radius: 3px;
	font-weight: bold;
}

.switch-label {
	position: relative;
	z-index: 2;
	float: left;
	height: 40px;
	line-height: 38px;
	font-size: 14px;
	color: rgba(#016b9e,.6);
	&:hover {
		color: #016b9e;
	}
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	padding: 0 15px;
	font-weight: normal;
}
.switch-input {
	display: none;
}
.switch-label  {
	position: relative;
	overflow: hidden;
	&:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0px;
		left: 100%;
		width: 100%;
		height: 38px;
		background: #016b9e;
		border-radius: 2px;
		-webkit-transition: left 0.15s ease-out;
		-moz-transition: all 0.15s ease-out;
		-ms-transition: all 0.15s ease-out;
		-o-transition: all 0.15s ease-out;
		transition: all 0.15s ease-out;
	}
}
.switch-input:checked + .switch-label {
	color: #fff;
	-webkit-transition: 0.15s ease-out;
	transition: 0.15s ease-out;
	&:before {
		left: 0;
	}
}

.switch-input:disabled + .switch-label {
	color: rgba(#fff,.2) !important;
}

.switch .switch-label:last-child {
	&:before {
		left: auto;
		right: 100%;
	}
}

.switch-input:checked + .switch-label:last-child {
	&:before {
		right: 0;
	}
}
